#card
{
    border-radius: 20%;
    background-image: radial-gradient(#361ccb, #050407);
    margin: 34px;
    padding: 40px;
    width: 28%;
    text-align: center;
    transition: transform ease 0.2s;
    opacity: 0.8;
    margin-top: 6vh;
}
div{
    color: white;
}
h2{
    font-size: 33px;
}
h2:hover{
    color: rgb(255, 10, 161);
}
p{
    padding-top: 12px;
    font-size: 21px;
}

#card:hover
{
    transform: scale(1.1);
    opacity: 1;
    
}
#image
{
    border-radius: 200%;
    border-width: 10px;
}